<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="assets/styles/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <section>
            <figure>
                <img src="https://creativelayers.net/themes/edumy-html/images/header-logo.png" alt="logo"/>
            </figure>
            <h1>EDUMY</h1>
        </section>
        
        <nav>
            <a href="">Home</a>
            <a href="">Courses</a>
            <a href="">Events</a>
            <a href="">Pages</a>
            <a href="">Blog</a>
            <a href="">Contact</a>
        </nav>
        
        <section>
            
            <i class="fa-regular fa-user"></i>
            <a href="">Login/Register</a>
            <i class="fa-solid fa-basket-shopping"></i>
            <i class="fa-solid fa-magnifying-glass"></i>
        </section>
    </header>

    <main>
        
    </main>

    <footer>
        
    </footer>
</body>
</html>