<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Titre de la page</title>
    <link rel="stylesheet" href="assets/styles/css/style.css">
    <script src="https://kit.fontawesome.com/dbf8b52bf4.js" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <section>
            <section>
                <figure>
                    <img src="https://creativelayers.net/themes/edumy-html/images/header-logo.png" alt="logo"/>
                </figure>
                <h1>EDUMY</h1>
            </section>
            
            <nav>
                <a href="">Home</a>
                <a href="">Courses</a>
                <a href="">Events</a>
                <a href="">Pages</a>
                <a href="">Blog</a>
                <a href="">Contact</a>
            </nav>
            
            <section>
                
                <i class="fa-regular fa-user"></i>
                <a href="">Login/Register</a>
            </section>
        </section>

        <section>
            <h2>COURSES</h2>
            <section>
                <a href="">Home /</a>
                <a href="">Graphic Design /</a>
                <a href="">Adobe Illustrator</a>
            </section>
        </section>
    </header>

    <main>
        <section>
            <section>
                <figure>
                    <img src="https://creativelayers.net/themes/edumy-html/images/team/4.png" alt="image"/>
                </figure>
                <p>Ali TUFAN</p>
                <p>Last updated 11/2019</p>
            </section>
            
            <h3>Designing a Responsive Mobile Website with Muse</h3>
            <p>Best Seller</p>
            <p>57,869 students enrolled - 25 Review</p>
            <video controls>
                <source src="example.mp4" type="video/mp4">
                <source src="example.webm" type="video/webm">
                <track kind="subtitles" src="subtitles_en.vtt" srclang="en">            </video>
        </section>
        
        <section>
            <h3>Overview</h3>
            <h4>Course Description</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
            <br>
            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <h4>What you'll learn</h4>
            <ul>
                <li><i class="fa-solid fa-check"></i> Become a UX designer</li>
                <li><i class="fa-solid fa-check"></i> You will be able to add UX designer to your CV</li>
                <li><i class="fa-solid fa-check"></i> Become a UI designer</li>
                <li><i class="fa-solid fa-check"></i> Build & test a full website design</li>
                <li><i class="fa-solid fa-check"></i> Build & test a full mobile app</li>
                <li><i class="fa-solid fa-check"></i> Learn to design websites & mobile phone apps</li>
                <li><i class="fa-solid fa-check"></i> You'll learn how to choose colors</li>
                <li><i class="fa-solid fa-check"></i> Prototype your designs with interactions</li>
                <li><i class="fa-solid fa-check"></i> Export production ready assets.</li>
                <li><i class="fa-solid fa-check"></i> All the techniques used by UX professionals</li>
            </ul>
            <h4>Requirements</h4>
            <ul>
                <li>You will need a copy of Adobe XD 2019 or above. A free trial can be downloaded from Adobe</li>
                <li>No previous design experience is needed</li>
                <li>No previous Adobe XD skills are needed</li>
            </ul>
        </section>

        <section>
            <h3>Course Content</h3>
            <h4>Getting Started</h4>
            <section>
                <i class="fa-solid fa-play"></i>
                <p>Lecture1.1 Introduction to the User Experience Course</p>
                <p>Preview</p>
                <p>02:53</p>
            </section>
            <section>
                <i class="fa-solid fa-play"></i>
                <p>Lecture1.2 Exercise: Your first design challenge</p>
                <p>Preview</p>
                <p>02:53</p>
            </section>
            <section>
                <i class="fa-solid fa-play"></i>
                <p>Lecture1.3 How to solve the previous exercise</p>
                <p>Preview</p>
                <p>02:53</p>
            </section>
            <section>
                <i class="fa-solid fa-play"></i>
                <p>Lecture1.4 Find out why smart objects are amazing</p>
                <p>Preview</p>
                <p>02:53</p>
            </section>
            <section>
                <i class="fa-solid fa-play"></i>
                <p>Lecture1.5 How to use text layers effectively</p>
                <p>Preview</p>
                <p>02:53</p>
            </section>
            <h4>The Brief</h4>
            <h4>Wireframing Low Fidelity</h4>
            <h4>Type, Color & Icon Introduction</h4>
            
        </section>
        
        <section>
            
            <h3>About the instructor</h3>
            <article>
                <figure>
                    <img src="https://creativelayers.net/themes/edumy-html/images/team/4.png" alt="image"/>
                </figure>
                <section>
                    <h4>Ali Tufan</h4>
                    <p>UX/UI Designer</p>
                    <p>UI/UX Designer, with 7+ Years Experience. Guarantee of High Quality Work.</p>
                    <p>Skills: Web Design, UI Design, UX/UI Design, Mobile Design, User Interface Design, Sketch, Photoshop, GUI, Html, Css, Grid Systems, Typography, Minimal, Template, English, Bootstrap, Responsive Web Design, Pixel Perfect, Graphic Design, Corporate, Creative, Flat, Luxury and much more.</p>
                    <p>Available for:</p>
                    <ol>
                        <li>Full Time Office Work</li>
                        <li>Remote Work</li>
                        <li>Freelance</li>
                        <li>Contract</li>
                        <li>Worldwide</li>
                    </ol>
                    
                </section>
                    
            </article>
            
        </section>
        
    </main>

    <footer>
        
    </footer>
</body>
</html>